html,
body {
  height: 100%;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.hero-section {
  height: 86vh;
}

.lhs-hero-section {
  float: left;
  width: 60%;
  background-color: #284b63;
  color: white;
}

.lhs-hero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 86vh;
  margin-left: 30px;
}

.lhs-btn-container-row {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.lhs-btn-container-column {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.lhs-btn {
  width: 250px;
}

.rhs-hero-section {
  float: right;
  width: 40%;
  background: url(./images/dgx-a100.jpg) no-repeat;
  background-size: 100% 100%;
}

.footer-link a {
  color: #284b63;
}

.login-container {
  display: flex;
  flex-direction: row;
  /* flex-basis: 300px; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.form-container {
  width: 400px;
}

.form-button {
  width: 400px;
  margin-top: 13px;
  padding: 7px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.header-branding {
  padding: 11px;
  background-color: #284b63;
  color: white;
}

.header-brand {
  color: white;
  font-size: x-large;
}

.header-brand:hover {
  color: white;
}

.title {
  color: #284b63;
  font-size: 2rem;
  font-weight: bolder;
}

.navbar-link {
  font-size: large;
  color: white;
}

.navbar-link:hover {
  font-size: large;
  color: aliceblue;
}

.navbar-link:focus {
  font-size: large;
  color: aliceblue;
}

code {
  /* use if theme for CopyBlock is paraisoLight or monoBlue */
  /* color: #284b63; */
  /* use if theme for CopyBlock is sunburst */
  color: powderblue;
}

.code-block {
  font-family: 'Fira Mono', monospace;
}

.ordered-list {
  font-size: medium;
  line-height: 1.7em;
}